<section class="section">
  <div class="container">
    <h1 class="title">Editing entry</h1>

    <%= render "form", entry: @entry %>

    <br>

    <div class="buttons">
      <%= link_to "Show this entry", @entry, class: "button is-link" %> |
      <%= link_to "Back to entries", entries_path, class: "button is-primary" %>
    </div>
  </div>
</section>
